.parentCont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0% 5%;
    background-color: rgb(161, 191, 191);
}

.middle{
    display: flex;
    gap: 10%;

}